.calendar {
  display: grid;
  grid-template-columns: repeat(7, minmax(100px, 1fr));
  grid-template-rows: 150px auto;
  grid-template-areas:
  "sun mon tue wed thu fri sat"
  "day0 day1 day2 day3 day4 day5 day6"
}
.my_class {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr;
  align-items: center;
}

.day0 {
  grid-area: day0;
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr;
}
.day1 {
  grid-area: day1;
  background-color: navy
}
.day2 {
  grid-area: day2;
  background-color: orange
}
.day3 {
  grid-area: day3;
  background-color: firebrick
}
.day4 {
  grid-area: day4;
  background-color: mintcream
}
.day5 {
  grid-area: day5;
  background-color: blueviolet
}
.day6 {
  grid-area: day6;
  background-color: lawngreen
}
.day7 {
  grid-area: day7;
  background-color: cadetblue
}
